<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casneno's Dev Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,500;1,400&family=Electrolize&family=Gruppo&family=Special+Elite&family=Ysabeau+SC:wght@300;600&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <p>  |  </p>
      <a href="/skills"> Skills</a>
    </nav>
    <h1><%= title %></h1> 
  </header>